<h2>Users <span class="badge">{{ totalElements }}</span></h2>

<div class="form-group">
    <div class="col-sm-4">
    	<input type="text" ng-model="search" class="form-control" placeholder="Enter search parameter"/>
    </div>
	<button ng-click="page=0; getAll();" ng-disabled="!search" class="btn btn-default">Search</button>
	<button ng-click="page=0; search=null; getAll();" class="btn btn-default">Reset</button>
</div>


<table ng-init="page=0; getAll();" class="table table-striped">
	<thead>
		<tr>
			<th>
				ID 
				<button class="btn btn-xs" ng-click="page=0; property='id'; direction='ASC'; getAll();"><span class="caret caret-up"></span></button>
				<button class="btn btn-xs" ng-click="page=0; property='id'; direction='DESC'; getAll();"><span class="caret"></span></button>
			</th>
			<th>
				email
				<button class="btn btn-xs" ng-click="page=0; property='email'; direction='ASC'; getAll();"><span class="caret caret-up"></span></button>
				<button class="btn btn-xs" ng-click="page=0; property='email'; direction='DESC'; getAll();"><span class="caret"></span></button>
			</th>
			<th>
				First name 
				<button class="btn btn-xs" ng-click="page=0; property='firstname'; direction='ASC'; getAll();"><span class="caret caret-up"></span></button>
				<button class="btn btn-xs" ng-click="page=0; property='firstname'; direction='DESC'; getAll();"><span class="caret"></span></button>
			</th>
			<th>
				Last name 
				<button class="btn btn-xs" ng-click="page=0; property='lastname'; direction='ASC'; getAll();"><span class="caret caret-up"></span></button>
				<button class="btn btn-xs" ng-click="page=0; property='lastname'; direction='DESC'; getAll();"><span class="caret"></span></button>
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
			<td>{{ user.id }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>
			<td>
				<button class="btn btn-danger btn-xs" ng-click="remove(user.id)">Delete</button>
				<a href="/#/users/edit/{{ user.id }}" class="btn btn-warning btn-xs">Edit</a>
			</td>
		</tr>
	</tbody>
</table>

<div class="row">
	<div class="col-md-12 text-center">
		<span ng-hide="hideSpinner" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
		<div class="alert alert-danger alert-dismissible" role="alert" ng-show="showError">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<b>Ooops!</b> something went wrong :)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 text-right">
		<uib-pagination total-items="totalElements" items-per-page="itemsPerPage" ng-click="page=currentPage-1; getAll();" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
	</div>
</div>

<a href="/#/users/add" class="btn btn-primary">Add new user</a>