<h2>Users <span class="badge">{{ totalElements }}</span></h2>

<div class="form-group">
    <div class="col-sm-4">
    	<input type="text" ng-model="search" class="form-control" placeholder="Enter search parameter"/>
    </div>
	<button ng-click="page=0; searchWeb=false; getAll();" ng-disabled="!search" class="btn btn-default">Search by first name or last name</button>
	<button ng-click="page=0; searchWeb=true; getAll();" ng-disabled="!search" class="btn btn-default">Search by web site or email</button>
	<button ng-click="page=0; search=null; searchWeb=null; getAll();" class="btn btn-default">Reset</button>
</div>


<table ng-init="getPage(); getAll();" class="table">
	<thead>
		<tr>
			<th>
				ID 
				<button class="btn btn-xs" ng-click="page=0; property='id'; direction='ASC'; getAll();"><span class="caret caret-up"></span></button>
				<button class="btn btn-xs" ng-click="page=0; property='id'; direction='DESC'; getAll();"><span class="caret"></span></button>
			</th>
			<th>
				email
				<button class="btn btn-xs" ng-click="page=0; property='email'; direction='ASC'; getAll();"><span class="caret caret-up"></span></button>
				<button class="btn btn-xs" ng-click="page=0; property='email'; direction='DESC'; getAll();"><span class="caret"></span></button>
			</th>
			<th>
				First name 
				<button class="btn btn-xs" ng-click="page=0; property='firstname'; direction='ASC'; getAll();"><span class="caret caret-up"></span></button>
				<button class="btn btn-xs" ng-click="page=0; property='firstname'; direction='DESC'; getAll();"><span class="caret"></span></button>
			</th>
			<th>
				Last name 
				<button class="btn btn-xs" ng-click="page=0; property='lastname'; direction='ASC'; getAll();"><span class="caret caret-up"></span></button>
				<button class="btn btn-xs" ng-click="page=0; property='lastname'; direction='DESC'; getAll();"><span class="caret"></span></button>
			</th>
			<th>
				Web site 
				<button class="btn btn-xs" ng-click="page=0; property='website'; direction='ASC'; getAll();"><span class="caret caret-up"></span></button>
				<button class="btn btn-xs" ng-click="page=0; property='website'; direction='DESC'; getAll();"><span class="caret"></span></button>
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users" ng-class="{'bg-info': showUserView}">
			<td>{{ user.id }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>
			<td><a href="{{ user.website }}" class="btn btn-xs btn-link">{{ user.website }}</td>
			<td>
				<button class="btn btn-danger btn-xs" ng-click="remove(user.id)">Delete</button>
				<a href="/#/users/edit/{{ user.id }}" class="btn btn-warning btn-xs">Edit</a>
				<button class="btn btn-info btn-xs" ng-click="showUserView=!showUserView; viewUser(user);"><span ng-hide="showUserView">View</span><span ng-show="showUserView">Close</span></button>
			</td>
		</tr>
	</tbody>
</table>

<div class="row">
	<div class="col-md-12 text-center">
		<span ng-hide="hideSpinner" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
		<div class="alert alert-danger alert-dismissible" role="alert" ng-show="showError">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<b>Ooops!</b> something went wrong :)
		</div>
	</div>
</div>

<div ng-show="showUser" ng-disabled="true">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input ng-model="user.email" type="text" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputFirstname" class="col-sm-2 control-label">First name</label>
    <div class="col-sm-10">
      <input ng-model="user.firstname" type="text" class="form-control" id="inputFirstname" placeholder="First name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputLastname" class="col-sm-2 control-label">Last name</label>
    <div class="col-sm-10">
      <input ng-model="user.lastname" type="text" class="form-control" id="inputLastname" placeholder="Last name">
    </div>
  </div> 
  <div class="form-group">
    <label for="inputWebsite" class="col-sm-2 control-label">Web site</label>
    <div class="col-sm-10">
      <input ng-model="user.website" type="url" class="form-control" id="inputWebsite" placeholder="Web site">
    </div>
  </div> 
</div>

<div class="row">
	<div class="col-md-12 text-right">
		<uib-pagination total-items="totalElements" items-per-page="itemsPerPage" ng-click="changePage();" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
	</div>
</div>

<a href="/#/users/add" class="btn btn-primary">Add new user</a>